.intro.hero {
    background: #001B40;
    color: #DDDDDD;
}

.intro .container{
    text-align: center;
}

.intro .container .icons {
    font-size: 3em;
}

.intro .icons svg{
    margin: 1rem;
}

.intro .icons svg:hover{
    transition: all 0.4s ease-in-out;
    transform: translateY(-10px) translateX(-5px) scale(1.2);
}

.intro .title {
    color: #DDDDDD;
    font-family: 'Alegreya', serif;
    font-size: 4em;
}

.intro .subtitle{
    color: #DDDDDD;
    font-family: 'Quicksand', serif;
    font-size: 1.3em;
}

.intro .subtitle a{
    color: #5EDCFF;
    font-weight: bold;
}

.intro .scroll a{
    color: #5EDCFF;
    font-size: 3em;
}

.intro nav.navbar .navbar-brand span.navbar-item{
    cursor: pointer;
}

.intro nav.navbar .navbar-end a{
    color: #DDDDDD;
    font-family: 'Kalam', cursive;
    font-size: 1.2em;
    font-weight: 700;
}

.intro nav.navbar .navbar-end a:hover{
    color: #5EDCFF;
    background: none;
}

.intro .hero-foot p{
    text-align: center;
    font-family: "Kalam", cursive;
    font-weight: 400;
    padding: 1em;
}

.intro .navbar-burger,
.intro .navbar-burger.is-active {
    color: #fff;
}

.intro nav .navbar-menu.is-active{
    background:#001B40;
    text-align: center;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;  
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@media only screen and (max-width: 600px) {
    .intro .container .icons {
        font-size: 2em;
    }
    
    .intro .title {
        font-size: 3em;
    }
    
    .intro .subtitle{
        font-size: 1.1em;
    }
} 
