.story.hero {
    background:#36213E;
    color: #fff;
}

.story .hero-head p{
    text-align: center;
    font-family: "Kalam", cursive;
    font-weight: 400;
}

.story .hero-body h1{
    font-family: "Alegreya", serif;
    color: #fff;
    font-size: 2em;
}

.story .hero-body p{
    font-family: "Quicksand", serif;
    color: #fff;
    font-size: 1em;
    text-align: justify;
}
